<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Rename File</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Rename File</h1>
        <hr>

        <!-- Form to rename a file -->
        <form action="/rename_file" method="post" class="mb-3">
            <div class="form-group">
                <label for="oldFileName">Select File to Rename:</label>
                <select class="form-control" id="oldFileName" name="old_name">
                    {% for file_name in file_names %}
                    <option value="{{ file_name }}">{{ file_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="newName">New Name:</label>
                <input type="text" class="form-control" id="newName" name="new_name" placeholder="Enter new name">
            </div>
            <button type="submit" class="btn btn-primary">Rename</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

